@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*#615A52*/

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;

        --sp: #e2cfb8;
    }
    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        font-family: "Host Grotesk", sans-serif;
        @apply bg-zinc-900 text-white;
    }

    img {
        @apply w-full h-full object-cover;
    }
    section {
        @apply w-screen;
    }
}

@layer utilities {
    .primary-bg {
        @apply bg-zinc-900;
    }
    .secondary-bg {
        @apply bg-zinc-800;
    }
    .gradient-bg {
        @apply bg-gradient-to-b from-zinc-900 via-zinc-800 to-zinc-900;
    }
    .gradient-bg2 {
        @apply bg-gradient-to-b from-zinc-900 to-zinc-800;
    }
    .padding-y {
        @apply py-[4rem];
    }
    .padding-x {
        @apply max-sm:px-4 px-2;
    }

    .hide-scrollbar,
    html {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .hide-scrollbar::-webkit-scrollbar,
    html::-webkit-scrollbar {
        display: none;
    }

    /*font*/
    .font-smooch {
        font-family: "Host Grotesk", sans-serif;
    }
    .font-asap {
        font-family: "Host Grotesk", sans-serif;
    }
    .font-poppins {
        font-family: "Host Grotesk", sans-serif;
    }

    .text-shadow {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    /*text size*/
    .size-xl {
        @apply text-[3rem] sm:text-[5rem] md:text-[6rem] lg:text-[8rem];
    }
    .size-lg {
        @apply text-5xl md:text-8xl;
    }

    .size-mx {
        @apply text-3xl md:text-6xl;
    }

    .size-md {
        @apply text-xl md:text-2xl;
    }

    .size-sm {
        @apply text-sm;
    }

    .text-marquee {
        @apply text-5xl sm:text-8xl;
    }

    /*hero*/
    .masked {
        -webkit-mask-image: url(#mask);
        mask-image: url(#mask);
    }

    /*intro*/
    .welcome-text {
        background: linear-gradient(
            to bottom,
            #fff 0%,
            #fff 50%,
            #3f3f46 50%,
            #3f3f46 100%
        );
        background-size: 100% 200%;
        background-position: 0% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
